<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
</head>
<body>
    <form action="/quotes" method="post">
        <h3>Welcome to QuotingDojo</h3>
        <p>Your name: <input type="text" name="name"></p>
        <p>Your quote: </p>
        <textarea name="quote" id="" cols="30" rows="10"></textarea>
        <br><br>
        <input type="submit" value="Add my quote!"> 
    </form>
    <br><br>
    <a href="/main" >Skip to quotes!</a>
</body>
</html>